<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Employee Update Page</h1>
<form method="post" th:action="@{/employee/edit/{id}(id=${employee.getId()})}" th:object="${employee}">

  <div class="form-group">
    <label for="name">Maker</label>
    <input th:field="*{name}" name="name" type="text" class="form-control" id="name" placeholder="Department ni kirit">
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
</body>
</html>